html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Avenir Next";
}

/* Styles for the map container */
#map-container {
  width: 100%;
  box-sizing: border-box; /* include padding and border in the height calculation */
}

/* Styles for the map */
#map {
  height: 100%;
  width: 100%;
}

#superMegaSearchForm {
  display: flex;
}

#submit-button {
  padding: 10px;
  margin: 10px;
}